:root {
  --S: #73ea37;
  --E: #f4ffee;
  --O: #808080;
  --F: #ff4d00;
  --grid-odd: #000000;
}

* {
  transition: 0.05s;
}

body {
  background-color: beige;
  font-family: "Segoe UI", monospace;
  font-size: 24px;
  text-align: center;
  flex-wrap: wrap;
}

table {
  background-color: black;
  border: 0.2rem solid black;
  border-collapse: collapse;
  border-spacing: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

td {
  height: 1rem;
  width: 1rem;
}

.odd {
    background-color: var(--grid-odd);
}

.hover-text {
  margin-top: -20rem;
  font-size: 1.8em;
  user-select: none;
}

#score {
  font-size: 1.2em;
  user-select: none;
  font-weight: bold;
}

#board > table {
  margin: auto;
}

.disabled {
  display: none;
}

@media only screen and (min-width: 1024px) {
  td {
    height: 1.5rem;
    width: 1.5rem;
  }
}