:root {
  --S: #73ea37;
  --E: white;
  --O: grey;
  --F: red;
}

* {
  transition: 0.05s;
}

body {
  background-color: beige;
  font-family: "Segoe UI";
  font-size: auto;
  text-align: center;
}

table {
  background-color: white;
  border: 0.1rem solid black;
  border-collapse: collapse;
  border-spacing: 0;
}

td {
  height: 1rem;
  width: 1rem;
}

#board {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}